<!-- Modal -->
<%= simple_form_for @device, html: {class: 'form-horizontal' } do |f| %>
<div class="modal fade" id="deviceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Cadastro de Device</h4>
			</div>
			<div class="modal-body">

				  <% if @device.errors.any? %>
					<div id="error_explanation">
					  <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>
				
					  <ul>
					  <% @device.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					  <% end %>
					  </ul>
					</div>
				  <% end %>
				<div><%= f.input :name, :class => "form-control" %></div>
				<div><%= f.input :uniqueId, :class => "form-control" %></div>
				<div><%= f.input :latestPosition_id, :class => "form-control" %></div>
			</div>
			<div class="modal-footer">
				<%= f.submit "submit", :class => 'btn btn-primary', :remote => true %>
			</div>
		</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% end %>