<%= simple_form_for @device, html: {class: 'form-horizontal' } do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.input :name %>
	<%= f.input :uniqueId %>
	<%= f.input :latestPosition_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
