
<ul class="nav">
	<% if user_signed_in? %>
		<li>
			<%= link_to(t(:label_logout), destroy_user_session_path, :method=> 'delete') %>
		</li>
	<% else %>
		<li>
			<%= link_to(t(:label_login), new_user_session_path) %>
		</li>
	<% end %>
	
	<% if user_signed_in? %>
		<li>
			<%= link_to(t(:label_edit_account), edit_user_registration_path) %>
		</li>
		<% if current_user.has_role? :admin %>
			<li>
				<%= link_to(t(:label_admin_area), users_path) %>
			</li>
		<% end %>
	<% else %>
		<li>
			<%= link_to(t(:label_sing_up), new_user_registration_path) %>
		</li>
	<% end %>
</ul>