<!DOCTYPE html>
<html>
<head>
	<meta name="viewport", content="width=device-width, initial-scale=1.0">
	<title><%= content_for?(:title) ? yield(:title) : "App_name" %></title>
	<meta name="description" content="<%= content_for?(:description)? yield(:description) : "App_Name" %>">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= yield(:head) %>	
</head>
<body>
	<%= yield %>
</body>
</html>